<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    
    <div id="userProfile">
        <h2>User Profile</h2>
        <p><strong>Username:</strong> <span id="username"></span></p>
        <p><strong>Name:</strong> <span id="name"></span></p> 
        <p><strong>Last Name:</strong> <span id="lastName"></span></p>
        <p><strong>School:</strong> <span id="school"></span></p>
        <p><strong>Title:</strong> <span id="title"></span></p>
        <button onclick="location.href='/dashboard'">Back to Dashboard</button>
    </div>

<script src = "/Learnr/Learnr/public/Profile.js"></script>
<!-- <script type="module">
    import redirectToPage from './Learnr/controllers/userController.js';
    
    // Fetch and display the user profile
    userController.loadUserProfile;

    document.getElementById("returnToDashboard").addEventListener('click', redirectToPage());
</script> -->

</body>
</html>
