<!--Displays the Mentor's Dashboard-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentor Dashboard</title>
</head>

<body>
    <h1>Welcome to Learnr</h1>
    <p>Thanks for being a mentor!</p>
    <button onclick="location.href='/assign'">Assign a Pathway</button>
    <button onclick="location.href='/profile'">Profile</button>

    <button onclick="location.href='/logout'">Log Out</button>
</body>

</html>
